* {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-size: 24px;
    /* color:white;
    background-color: black; */
}

.background {
    background-color: black;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

ul {
    list-style-type: none;
}

ul.efa {
    list-style-type:disc;
}

.icon {
    color: #a10099;
    padding-right: 10px;
}

.main-header {
    padding-top: 20px;
}

a:hover {
    background-color: #861281;
    border-radius: 3px;
    text-decoration: none;
}